
body{
    background: rgb(2,0,36);
background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(121,9,89,1) 35%, rgba(31,69,65,1) 100%);
}

/*ADDED ADDITIONAL FORMATTING */
.d-inline-block{
    border-radius: 20px;
}

